:root {
    --primary-color:rgb(19, 19, 19);
    --secondary-color: rgb(255, 255, 255);
    --tertiary-color: rgb(146, 4, 30);
    --black-transparent: rgba(0, 0, 0, 0.7);
    --hauteur_header: 90px;
    --hauteur_footer: 150px;
    --padding_left_right: 2vw;
}

/* Font Roboto */

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
  body {
    background-color: var(--secondary-color);
    font-family: "Roboto", sans-serif;
}

/* Police rock salt */

.rock-salt-regular {
  font-family: "Rock Salt", cursive;
  font-weight: 400;
  font-style: normal;
}


/*Effacer le style par defaut des éléments a*/
a {
    text-decoration: none;
}

/*MOBILE FIRST*/

/*Réinisialiter les styles par defaut des navigateurs*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Effacer le style par defaut des éléments ol et ul*/
ol, ul {
    list-style: none;
}

/*Définition du alteur et coleur du fond*/
.header {
    position: sticky;
    top: 0;
    box-shadow: 0 5px 5px rgba(60, 60, 60, 0.5);
    height: var(--hauteur_header);
    background-color: var(--primary-color);
    z-index: 99;
}

/*Le style du conteneur navbar*/
.navbar {
    height: 100%; /*pour occuper tout l'hauteur du header*/
    display: flex; /*Positioner les éléments les uns au coté des autres*/
    justify-content: space-between; /*Éloigner les éléments les uns des autres*/
    align-items: center;
    flex-wrap: wrap;
    padding: 0 var(--padding_left_right); /*Padding du 0 par top et bottom, et de 2 par left et right*/
}

.logo-size {
  height: 100%;
  object-fit: scale-down;
  align-content: center;
}

.logo {
    height: 80%;
    object-fit: scale-down;
}

/*Cacher l'élément check-box, sont les éléments de notre menu*/
.menu_hamburguer {
    display: none;
}

/*Captamos el elemento por su ID, cuando el check-box esté en estado checked*/
/*el signo + significa que el elemento al lado (ul_links, en este caso) será modificado*/
/*En este caso, para asignar la altura al elemento ul_links*/
/*Se utiliza una función para calcular la altura, la operación es la siguiente:*/
/*Queremos que mida el 100% de la altura de la ventana menos la altura del header*/
.menu_hamburguer:checked+.ul_links_kombi {
    height: calc(100vh - var(--hauteur_header));
    min-height: 200px;
    max-width: 600px;
}

/* .label_hamburguer {


} */

/*Le da un color blanco al icono hamburguer               */
.list_icon {
    color: var(--couleur_blanc);
    cursor: pointer; /* indica que el elemento es clicable */
}

/*Des options du menu*/
.ul_links_kombi {
    width: 200px;
    max-width: 500px;
    background-color: var(--black-transparent);
    color: var(--secondary-color);
    position: absolute;
    /*el elemento  ul_links comienza abajo del header*/
    top: var(--hauteur_header);
    /*sin espacio a la izquierda*/
    right: 0;
    /*sin espacio arriba*/
    height: 0;
    /*Cacher la list quand est pas check*/
    overflow: hidden;
    /* ----------------->height: calc(100vh - var(--altura_header)); */
    /*Type de conteneur*/
    display: flex;
    /*Positioner les éléments en colonne*/
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding-right: 1rem;
    gap: 1rem;
    /*anima la transición otorgándole una cantidad de tiempo para cambiar de un estado al otro*/
    transition: all .3s;
}

/*options menu text container*/
 /*.li_links {

 }*/


/*Donner le style aux liens du menu*/
.link {
    font-size: 1,5em;
    color: var(--secondary-color);
    font-weight: bold;
    padding: 1,5em;
}

.link:hover {
    background-color: var(--primary-color);
}

.link_child {
    font-size: 1,3em;
    color: var(--secondary-color);
    font-weight: lighter;
    padding: 5px;
}

.link:hover {
    background-color: var(--primary-color);
}

h1 {
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    color: var(--secondary-color);
}

.main-title {
    position: absolute;
    top: 15%;
    right: 30%;
    transform: translate(50%, 50%);
}

.main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.upper-image {
    top: 90px;
    text-align: right;
}

.upper-image img{
    object-fit: scale-down;
    max-width: 100%;
}

.rubriques {
    padding: 0 20px;
}

.anchor-target {
  padding-top: 90px; 
  margin-top: -90px; 
}

h2 {
    padding: 20px 0;
    color: var(--primary-color);
}

.album {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.album-image {
  border: 1px solid var(--primary-color);
  width: 300px;
}

.album-description {
  display: flex;
  justify-content: center;
  padding: 0 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.5em;
  padding: 20px 0;
}

#realisations h2 {
  padding-bottom: 0;
}

.live:hover {
  color: var(--tertiary-color);
}

.live-date {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.live-city {
  padding: 20px 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
  border-bottom: 1px solid var(--primary-color);
  margin-bottom: 20px;
}